parameters:
    level: 8
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: true

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
